/* .app-wrapper {
  padding: 15px;
  background: #fff;
  color: #fff;
}
.dark {
    background: #202020;
  }
  .dark-mode-toggle {
    background: transparent;
    border: none;
    margin: auto;
    cursor: pointer;
  } */
